:root {
  --green: #9ccc65;
}

body {
  background: url('media/crossword.png') repeat;
  padding: 0;
  font-family: 'Lato', sans-serif;
  margin: 0;
  box-sizing: content-box;
  background-size: cover;
}

header {
  position: sticky;
  background-color: var(--green);
  height: 50px;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.search {
  width: 275px;
  height: 40px;
  font-size: 1.2rem;
}

.active::after {
  content: '!'
}

.juke-box {
  background-color: var(--green);
  /* border-radius: 5px; */
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  text-align:center;
  /* border: 1px solid var(--green); */
  margin: 10px auto;
  max-width: 500px;
  transition: background 1s ease;
}

.juke-box__type {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.juke-box__type h4 {
  flex-basis: 100%;
  font-size: 1.4rem;
  margin-bottom: 8px;
  transition: color 1s ease;
}
.juke-box__type i {
  color: #43a047;
  margin-top: 14px;
  transition: font-size 1s ease;
}

i:hover {
  color:#388e3c;
}
.btn {
  /* border-radius: 5px; */
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
}

.sound {
  border: 1px solid white;
  background-color: white;
  font-weight: bold;
  width: 90px;
}

.sound:hover, .btn:hover, i:hover {
  cursor: pointer;
}


.active {
  background-color: #242424;
  border: 1px solid #242424;
  color: white;
}

.play {
  background-color: #4caf50;
  border: 1px solid #4caf50;
  color: white;
}

.pause {
  background-color: #b71c1c;
  border: 1px solid #b71c1c;
  color: white;
}

.article {
  width: 50%;
  height: 400px;
}

